/.venv
/.idea
/.git
/.pytest_cache
/__pycache__
/test

/synth_datasets/html_dataset.csv
/synth_datasets/json_dataset.csv
/synth_datasets/xml_dataset.csv
/synth_datasets/csv_dataset.csv

/.gitignore
/README.md

*.pyc
*.pyo
*.pyd
*.log


