# PyCharm / JetBrains
.idea
.venv

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
*.eggs/
*.manifest
*.spec

# OS files
.DS_Store
Thumbs.db

# saves
/ml_results/

# synth_datasets
/synth_datasets/csv_dataset.csv
/synth_datasets/xml_dataset.csv
/synth_datasets/html_dataset.csv
/synth_datasets/json_dataset.csv
