# PyCharm / JetBrains
.idea
.venv

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
*.eggs/
*.manifest
*.spec

# OS files
.DS_Store
Thumbs.db

# saves
/ml_results/

# datasets
/datasets/csv_dataset.csv
/datasets/xml_dataset.csv
/datasets/html_dataset.csv
/datasets/json_dataset.csv
